<div class="relative flex flex-col min-w-0 rounded break-words border bg-white flex-1 flex-auto p-6 md:mx-4">

  <h1 class="mb-4 font-bold"><%= t('add_article') %></h1>

  <div class="support_post">
    <%= render 'form' %>
  </div>
<div>
