


<div class="px-4 py-10 mb-6 text-white bg-green-500	text-4xl text-4xl md:px-20 lg:px-40 xl:px-56 font-bold">
    <h1><%= @support_thread.title %></h1>
</div>
<div class="px-4 pt-4 md:px-20 lg:px-40 xl:px-56">
    <div class="max-w-4xl text-gray-700">
        <div class="mb-10">
            <p class="leading-normal mb-4"><%= @support_thread.content %></p>
        </div>
    </div>
</div>