<div class="px-4 py-10 mb-6 text-white bg-gray-100	text-4xl text-4xl md:px-20 lg:px-40 xl:px-56 font-bold">
    <h1 class="text-gray-900"><%= t('add_category') %></h1>
</div>

<div class="px-4 pt-4 md:px-20 lg:px-40 xl:px-56">
    <div class="max-w-5xl text-gray-700">
    <%= render 'form' %>
  </div>
</div>
