@import "font-awesome-sprockets";
@import "font-awesome";

/* Allow pagination to be centered */
.help_center .support-threads-nav nav {
  display: inline-block;
}

/* Highlight the active navigation item in the sidebar */
.help_center .support-thread-filters {
  a {
    color: #555;
  }

  .active {
    color: #eee;
    font-weight: 500;
    padding: 0.25rem;
    border-radius: 5px;
   }
}

/* Formatting for the support threads */
.help_center .support-thread {
  margin-bottom: -20px;

  h4 {
    margin-bottom: 4px;

    a {
      color: #222;
      font-size: 16px;
      font-weight: normal;
      line-height: 1.1;
    }
  }
}

.help_center .support-thread-filters a {
  color: #555555;
  display: block;

  &:hover {
    color: #bfbfbf;
    text-decoration: none
  }
}

.help_center .thread-details {
  color: #999;
  font-size: 12px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}

.help_center .thread-reaction {
  background: #eeeeee;
  padding: 1rem;
  text-align: center;
  border-radius: 0.5rem;
  margin-top: 2rem;
}

.help_center .thread-reaction-links {
  font-size: 2rem;
  margin: 0.25rem;
}

/* Display the support post count above the "posts" text on the index page */
.help_center .thread-posts-count {
  color: #222;
  text-align: center;

  span, small {
    display: block;
  }

  .count {
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1em;
  }

  &:hover {
    color: #222;
    text-decoration: none;
  }
}

/* Formatting for the support posts themselves */
.help_center .support-post {
  position: relative;

  /* When the URL anchor matches a post id, highlight that item */
  &:target {
    background-color: rgb(248, 238, 199);
  }

  /* Fill this out if you want to highlight the OPs posts */
  &.original-poster {
  }

  &.solved {
    border: 2px solid #5cb85c;
  }
}

/* Formatting for the support hr to match card border */
.help_center hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  margin: 24px -20px;
}

// Forms
.help_center label {
  margin-bottom: 0.5rem;
}

.help_center .form-input, .form-select {
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

.help_center  input[type="color" i] {
      appearance: square-button;
      width: 44px;
      height: 23px;
      background-color: -internal-light-dark(rgb(239, 239, 239), rgb(74, 74, 74));
      cursor: default;
      border-width: 1px;
      border-style: solid;
      border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
      border-image: initial;
      padding: 1px 2px;
    }
