@import "font-awesome-sprockets";
@import "font-awesome";

/* Allow pagination to be centered */
.support-threads-nav nav {
  display: inline-block;
}

/* Highlight the active navigation item in the sidebar */
.support-thread-filters {
  a {
    color: #555;
  }

  .active {
    color: #222;
    font-weight: bolder;
  }
}

/* Formatting for the support threads */
.support-thread {
  margin-bottom: -20px;

  h4 {
    margin-bottom: 4px;

    a {
      color: #222;
      font-size: 16px;
      font-weight: normal;
      line-height: 1.1;
    }
  }
}

.support-thread-filters a {
  color: #555555;
  display: block;

  &:hover {
    color: #222222;
    font-weight: bold;
    text-decoration: none
  }
}

.thread-details {
  color: #999;
  font-size: 12px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}

.thread-reaction {
  background: #eeeeee;
  padding: 1rem;
  text-align: center;
  border-radius: 0.5rem;
  margin-top: 2rem;
}

.thread-reaction-links {
  font-size: 2rem;
  margin: 0.25rem;
}

/* Display the support post count above the "posts" text on the index page */
.thread-posts-count {
  color: #222;
  text-align: center;

  span, small {
    display: block;
  }

  .count {
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1em;
  }

  &:hover {
    color: #222;
    text-decoration: none;
  }
}

/* Formatting for the support posts themselves */
.support-post {
  position: relative;

  /* When the URL anchor matches a post id, highlight that item */
  &:target {
    background-color: rgb(248, 238, 199);
  }

  /* Fill this out if you want to highlight the OPs posts */
  &.original-poster {
  }

  &.solved {
    border: 2px solid #5cb85c;
  }
}

/* Formatting for the support hr to match card border */
.help_center hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  margin: 24px -20px;
}

.help_center .text-muted {
  color: #999;
  margin-top: 6px;
  font-size: 13px;
}
